@import "src/variables";

.coin {
    font-family: 'Circular Std', sans-serif;
    width: 25%;
    height: auto;
    margin: 0 auto;
    font-size: 16px;

    &__back {
        margin-bottom: 5%;
    }

    &__small-image {
        position: relative;
        height: 24px;
        width: 24px;
        top: 4px;
        margin-right: 5px;
    }

    &__name {
        font-size: 16px;
        height: auto;
    }

    &__symbol {
        color: $coin-symbol;
        font-size: small;
        padding-left: 1%;
        font-size: 10px;
    }

    &__price {
        width: 200%;

        &__curr-price {
            font-size: 24px;
            margin-right: 2%;
        }

        &__price-change-gain {
            color: $price-gain;
        }

        &__price-change-loss {
            color: $price-loss;
        }
    }

    &__price__difference {
        margin-right: 1%;
    }

    &__arrow-left {
        height: 15px;
        width: 15px;
        padding-right: 5%;
    }
}