/* App */
$main-background: #F5F5F5;

/* Card */
$card-background: #FFFFFF;
$card-title: #212529;
$card-subtitle: #6C757D;
$card-content: #000000;
$card-box-shadow: rgba(0, 0, 0, 0.075);
$price-gain: #21bf73;
$price-loss: #d9062b;
$coin-symbol: #848b91;

/* Header */
$header-link: #6C757D;
$header-selected-link: #0063F5;

/* MultiDropdown */
$multidropdown-background: #F8F9FA;
$multidropdown-border: #DFE2E4;
$multidropdown-button: #6C757D;

/* Loader */
$loader-border-color: #6C757D;

/* Search */
$search-input-background: #FFFFFF;
$search-input-border: #DFE2E4;
$search-cancel-button: #343A40;